blog/posts/2017/10/25/node-red-graficheskii-konfigurator-umnogo-doma/football.sentiment.mqtt.json
[{"id":"e7c96f34.0426f","type":"mqtt out","z":"745649a1.d57538","name":"","topic":"proiot3/cmd/ledisp","qos":"0","retain":"","broker":"6ad2cd11.6eb6c4","x":535.0142211914062,"y":407.19997119903564,"wires":[]},{"id":"933ad896.c08588","type":"twitter in","z":"745649a1.d57538","twitter":"","tags":"football","user":"false","name":"","topic":"tweets","inputs":0,"x":90.51416015625,"y":55.19994640350342,"wires":[["a5ab2a3d.1878f8"]]},{"id":"6cb4b3a6.8ccedc","type":"switch","z":"745649a1.d57538","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"-2","vt":"str"},{"t":"gt","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":169.5141716003418,"y":356.7999629974365,"wires":[["144ab01e.b589"],["c38555cc.e6ff08"]]},{"id":"2c5d3920.662536","type":"delay","z":"745649a1.d57538","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":506.51416778564453,"y":264.19996452331543,"wires":[["e7c96f34.0426f"]]},{"id":"144ab01e.b589","type":"function","z":"745649a1.d57538","name":"red","func":"\nreturn { payload: '100' + msg.payload };","outputs":1,"noerr":0,"x":302.01416778564453,"y":275.99994945526123,"wires":[["2c5d3920.662536"]]},{"id":"c38555cc.e6ff08","type":"function","z":"745649a1.d57538","name":"blue","func":"\nreturn { payload: '001' + msg.payload };","outputs":1,"noerr":0,"x":308.0141944885254,"y":433.9999771118164,"wires":[["2c5d3920.662536"]]},{"id":"a5ab2a3d.1878f8","type":"switch","z":"745649a1.d57538","name":"ascii 99+","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^[\\x20-\\x7e]{99,}$","vt":"str","case":false}],"checkall":"true","outputs":1,"x":259.0141792297363,"y":55,"wires":[["82e3d955.e995f8","97109a6.2d8f468"]]},{"id":"82e3d955.e995f8","type":"debug","z":"745649a1.d57538","name":"","active":true,"console":"false","complete":"payload","x":454.01417541503906,"y":55.39996337890625,"wires":[]},{"id":"97109a6.2d8f468","type":"sentiment","z":"745649a1.d57538","name":"","x":151.01417541503906,"y":177.1999635696411,"wires":[["6cb4b3a6.8ccedc"]]},{"id":"6ad2cd11.6eb6c4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]